In [17]:
import pandas as pd 
import numpy as np
import seaborn as sns 
labels = ['미성년자','청년','중년','장년','노년']
bins = [1,15,25,35,60,99]
titanic = sns.load_dataset('titanic')
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [3]:
titanic['alive']

0       no
1      yes
2      yes
3      yes
4       no
      ...
886     no
887    yes
888     no
889    yes
890     no
Name: alive, Length: 891, dtype: object

In [4]:
df_alive = titanic[titanic['alive'] == 'yes']
df_not_alive = titanic[titanic['alive'] == 'no']

In [43]:
alive=df_alive.dropna(subset=['age'],axis=0,how='any')
not_alive=df_not_alive.dropna(subset=['age'],axis=0,how='any')
alive['age'][alive['age']<1] = 1
alive['age'][alive['age']>99] = 99
not_alive['age'][not_alive['age']<1] = 1
not_alive['age'][not_alive['age']>99] = 99

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [44]:
alive['gubun'] = pd.cut(x=alive['age'],labels=labels,bins=bins,include_lowest=True)

In [45]:
not_alive['gubun'] = pd.cut(x=not_alive['age'],labels=labels,bins=bins,include_lowest=True)

In [46]:
alive_ratio = []
for x in labels:
    alive_ratio.append(len(alive[alive['gubun'] == x]))
alive_ratio

[49, 75, 83, 78, 5]

In [47]:
not_alive_ratio = []
for x in labels:
    not_alive_ratio.append(len(not_alive[not_alive['gubun'] == x]))
not_alive_ratio

[34, 143, 113, 117, 17]

In [48]:
a_n = sum(alive_ratio)
n_a_n = sum(not_alive_ratio)
alive_ratio = list(map(lambda x: x/a_n,alive_ratio))
not_alive_ratio = list(map(lambda x: x/n_a_n,not_alive_ratio))
result = pd.DataFrame(data=[alive_ratio,not_alive_ratio],columns=labels,index=['alive','not_alive'])
result['total'] = result.sum(axis=1)

In [49]:
result

               미성년자        청년        중년        장년        노년  total
alive      0.168966  0.258621  0.286207  0.268966  0.017241    1.0
not_alive  0.080189  0.337264  0.266509  0.275943  0.040094    1.0